
img{
    width:180px;
    height:180px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 90px;
  }

  ion-icon{
    color: #FFE2CA;
  }

  h6{
    position: absolute;
    top: 570px;
    left: 50px;
    color: #C6025F;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
  }

  .socmed{
    position: absolute;
    top: 610px;
    left: 40px;
  }

  ion-button{
    font-size: larger;
  }

