<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  </style>

<ion-content [fullscreen]="true">
    <img src="assets/tab1/leyn.jpg"/>
      
      <app-info></app-info>
  

  <ion-text>
    <h6>Social Media</h6>
  </ion-text>

  <div class="socmed">
    <ion-button href="https://www.facebook.com/eledalouisssee" fill="clear">
      <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
    </ion-button>

    <ion-button href="https://www.instagram.com/iamlowisleyn/" fill="clear">
      <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
    </ion-button>

    <ion-button href="https://twitter.com/lssln_" fill="clear">
      <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
    </ion-button>

    <ion-button href="https://github.com/lowisleyn" fill="clear">
      <ion-icon slot="icon-only" name="logo-github"></ion-icon>
    </ion-button>

</div>
    

</ion-content>
