<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  </style>

<ion-content [fullscreen]="true">
    <img src="assets/tab1/leyn.jpg"/>
      
      <ion-list>
        <ion-item-divider>
          &nbsp;<ion-icon name="person"></ion-icon>
          <ion-label>&nbsp; {{fn}}</ion-label>
        </ion-item-divider>
  
        <br><ion-item-divider>
          &nbsp;<ion-icon name="pencil"></ion-icon>
          <ion-label>&nbsp; {{nick}}</ion-label>
        </ion-item-divider>
  
        <br><ion-item-divider>
          &nbsp;<ion-icon name="calendar"></ion-icon>
          <ion-label>&nbsp; {{bday}}</ion-label>
        </ion-item-divider>
  
        <br><ion-item-divider>
          &nbsp;<ion-icon name="pin"></ion-icon>
          <ion-label>&nbsp; {{addr}}</ion-label>
        </ion-item-divider>
  
      </ion-list>
  

  <ion-text>
    <h6>Social Media</h6>
  </ion-text>

  <div class="socmed">
    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
    </ion-button>

    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
    </ion-button>

    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
    </ion-button>

    <ion-button (click)="onClick()" fill="clear">
      <ion-icon slot="icon-only" name="mail"></ion-icon>
    </ion-button>

</div>
    

</ion-content>
