
img{
    width:180px;
    height:180px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 70px;
  }

  ion-list{
    position: absolute;
    top: 290px;
    left: 40px;
  }

  ion-icon{
    color: #C6025F;
  }

  ion-item-divider{
    background-color: #FF9CCB;
    color: #000;
    border-radius: 15px;
    padding: 8px;
  }


  h6{
    position: absolute;
    top: 530px;
    left: 50px;
    color: #C6025F;
    font-family: 'Poppins', sans-serif;
  }

  .socmed{
    position: absolute;
    top: 580px;
    left: 50px;
  }
