<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
  </style>

<ion-content fullscreen>
  <ion-card class="myCard">
    <img src="assets/likes/hobbies1.png" />
    <div class="myOverlay">
      <div class="card-title1">Anime</div>
    </div>
  </ion-card>

  <ion-card class="myCard">
    <img src="assets/likes/hobbies2.png" />
    <div class="myOverlay">
      <div class="card-title2">KDrama</div>
    </div>
  </ion-card>

  <ion-card class="myCard">
    <img src="assets/likes/hobbies3.png" />
    <div class="myOverlay">
      <div class="card-title1">TV Series</div>
    </div>
  </ion-card>

  <ion-card class="myCard">
    <img src="assets/likes/hobbies4.png" />
    <div class="myOverlay">
      <div class="card-title3">Movie</div>
    </div>
  </ion-card>

  <ion-card class="myCard">
    <img src="assets/likes/hobbies5.png" />
    <div class="myOverlay">
      <div class="card-title1">KPOP</div>
    </div>
  </ion-card>



</ion-content>
