ion-list{
    position: absolute;
    top: 290px;
    left: 40px;
  }

  ion-icon{
    color: #C6025F;
  }

  ion-item-divider{
    background-color: #FF9CCB;
    color: #000;
    border-radius: 15px;
    padding: 8px;
  }